* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.cont {
    width: 100%;
    height: 100vh;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mycal {
    background-image: url(https://i.postimg.cc/wTwN7GZc/inam.jpg);
    border-radius: 25px;
    padding: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px;
}
.mycal div button {
    width: 20%;
    height: 70px;
    border-radius: 10px;
    font-size: 25px;
    background: transparent;
    margin: 5px;
    box-shadow:  0 0 1rem black;
}
.mycal div button:hover {
    background-color: beige;
    color: black;
    box-shadow: 0 0 1rem beige;
}
div .yourview {
    justify-content: center;
    display: flex;
}
div .heading {
    justify-content: center;
    display: flex;
    font-size: large;
    font-weight: bolder;
}
#space {
    width: 320px;
    margin-left: 5px;
    height: 50px;
    background: transparent;
    border-radius: 7px;
    box-shadow: 0 0 1rem black;
}
#space:hover {
    background-color: beige;
    color: black;
    border-color: black;
    box-shadow: 0 0 1rem beige;
}
#equalsign {
    width: 45%;
}
/*@media screen and (max-width: 520px) {
    .mycal div button{
        width: 50px;
        height: 50px;
        border-radius: 7px;
        font-size: 15px;
        margin: 2px;
    }
    #space {
        width: 230px;
        height: 50px;
        border-radius: 5px;
    }
    #equalsign {
        width: 110px;
    }
}
@media screen and (max-width: 390px) {
    .mycal div button{
        width: 40px;
        height: 40px;
        border-radius: 5px;
        font-size: 10px;
        margin: 1px;
    }
    #space {
        width: 180px;
        height: 50px;
        border-radius: 3px;
    }
    #equalsign {
        width: 88px;
    }
}*/

@media screen and (max-width: 520px) {
    .mycal {
       background-image: url(https://i.postimg.cc/wTwN7GZc/inam.jpg);
        border-radius: 25px;
        padding: 25px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -100px;
        margin-left: -25px;
        margin-right: -25px;
        margin-bottom: -100px;
      
    }
}
@media screen and (max-width: 420px) {
    .mycal {
       background-image: url(https://i.postimg.cc/wTwN7GZc/inam.jpg);
        border-radius: 25px;
        padding: 25px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -100px;
        margin-left: -25px;
        margin-right: -25px;
        margin-bottom: -100px;
      
    }
}
@media screen and (max-width: 400px) {
    .mycal {
       background-image: url(https://i.postimg.cc/wTwN7GZc/inam.jpg);
        border-radius: 25px;
        padding: 25px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -100px;
        margin-left: -25px;
        margin-right: -25px;
        margin-bottom: -100px;
        width: 390px;
    }
}
@media screen and (max-width: 390px) {
    .mycal {
       background-image: url(https://i.postimg.cc/wTwN7GZc/inam.jpg);
        border-radius: 25px;
        padding: 25px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -100px;
        margin-left: -25px;
        margin-right: -25px;
        margin-bottom: -100px;
        width: 390px;
        height: 653px;
    }
}
@media screen and (max-width: 380px) {
    .mycal {
       background-image: url(https://i.postimg.cc/wTwN7GZc/inam.jpg);
        border-radius: 25px;
        padding: 25px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -100px;
        margin-left: -25px;
        margin-right: -25px;
        margin-bottom: -100px;
        width: 370px;
        height: 653px;
    }
}
@media screen and (max-width: 300px) {
    .mycal {
        background-size:400px 470px ;
        margin-top: 100px;
    }
    
}

